@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 50px;
}